* {
    margin:0;
    padding:0;
    text-align: center;
}
h1 {
    background-color: #7f055f;
    color: #EBD2BE;
    height: 5rem;
    line-height: 5rem;
    font-family : Verdana;
}
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 3rem;
    margin-top: 5rem;
}
.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover {
    cursor:pointer;
    background-color: #45062e;
}
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.score_board {
    display:flex;
    justify-content: center;
    align-items: center;    
    font-size: 2rem;
    gap: 5rem;

}
#user_Score, #comp_Score {
    font-size: 4rem;
}
.msg_container {
    margin-top: 5rem;
}
#msg {
    background-color: #45062E;
    color :#ffe8d4; 
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    
}